{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un compte</h1>

        {# Afficher le formulaire d'inscription #}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.phone) }}
            {{ form_row(registrationForm.password) }}
            

            <button class="btn btn-primary" type="submit">S'inscrire</button>
        {{ form_end(registrationForm) }}

        <a class="text-red-600 cursor-pointer transition hover:text-red-700 hover:scale-105" href="{{ path('login') }}">
            Vous avez déjà un compte ? Connectez-vous
    </div>

{% endblock %}
