{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un compte</h1>

        {# Afficher les messages flash (succès, erreurs) #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {# Afficher le formulaire d'inscription #}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.phone) }}
            

            <button class="btn btn-primary" type="submit">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
