{% extends 'base.admin.html.twig' %}

{% block title %}
    Produits - Admin
{% endblock %}

{% block admin_content %}
    <div class="p-6">
        <h2 class="text-2xl font-bold text-green-600 mb-6">
            Gestion des Produits
        </h2>
        <h4 class="text-gray-600 mb-6">
            Vous pouvez ajouter, modifier ou supprimer des produits.
        </h4>
        <div class="bg-white rounded-lg shadow-lg p-6">
            <h4 class="text-xl font-bold mb-4">
                Ajouter un produit
            </h4>
            {% if categories|length >= 1 %}
                <form method="POST" class="mb-6" enctype="multipart/form-data">
                    <div class="mb-4">
                        <label for="title" class="block text-gray-700 font-bold mb-2">
                            Titre
                        </label>
                        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" name="title" maxlength="100" placeholder="Titre" required></div>
                        <div class="mb-4">
                            <label for="description" class="block text-gray-700 font-bold mb-2">
                                Description
                            </label>
                            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="description" name="description" maxlength="1000" placeholder="Description" required></textarea>
                        </div>
                        <div class="mb-4">
                            <label for="price" class="block text-gray-700 font-bold mb-2">
                                Prix en €
                            </label>
                            <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="price" name="price" placeholder="Prix" min="0.01" max="999.99" step="0.01" required></div>
                            <div class="mb-4">
                                <label for="category_id" class="block text-gray-700 font-bold mb-2">
                                    Catégorie
                                </label>
                                <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="category_id" name="category_id" required>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">
                                            {{ category.title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="image" class="block text-gray-700 font-bold mb-2">
                                    Image
                                </label>
                                <input type="file" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="image" name="image" accept="image/*"></div>
                                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" name="add_product">
                                    Ajouter Produit
                                </button>
                            </form>
                        {% else %}
                            <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-6" role="alert">
                                <p>
                                    Vous devez d'abord créer une catégorie avant d'ajouter des produits.
                                </p>
                            </div>
                        {% endif %}

                        <h4 class="text-xl font-bold mb-4">
                            Liste des produits
                        </h4>
                        <div class="w-full">
                            {% if products|length >= 1 %}
                                {% for category in categories %}
                                    {% set categoryProducts = products|filter(product => product.category.id == category.id) %}
                                    {% if categoryProducts|length > 0 %}
                                    <h4 class="text-xl">
                                        Catégorie : {{ category.title }}
                                        </h4>
                                        <table class="min-w-full divide-y divide-gray-200">
                                            <thead class="bg-gray-50">
                                                <tr>
                                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        ID
                                                    </th>
                                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Titre
                                                    </th>
                                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Description
                                                    </th>
                                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Prix en €
                                                    </th>
                                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Image
                                                    </th>
                                                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white divide-y divide-gray-200">
                                                {% for product in categoryProducts %}
                                                    <tr>
                                                        <form method="POST">
                                                            <td class="px-6 py-4 whitespace-nowrap">
                                                                {{ product.id }}
                                                            </td>
                                                            <td class="px-6 py-4 whitespace-nowrap">
                                                                <input type="hidden" name="id" value="{{ product.id }}">
                                                                    <input type="text" name="title" value="{{ product.title }}" required class="w-full bg-transparent focus:outline-none focus:ring-2 focus:ring-green-500 rounded px-2 py-1"></td>
                                                                    <td class="px-6 py-4 whitespace-nowrap">
                                                                        <textarea name="description" required class="w-full bg-transparent focus:outline-none focus:ring-2 focus:ring-green-500 rounded px-2 py-1">
                                                                            {{ product.description }}
                                                                        </textarea>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-nowrap">
                                                                        <input type="number" name="price" value="{{ product.price }}" min="0.01" max="999.99" step="0.01" required class="w-full bg-transparent focus:outline-none focus:ring-2 focus:ring-green-500 rounded px-2 py-1"></td>
                                                                        <td class="px-6 py-4 whitespace-nowrap">
                                                                            {% if product.image %}
                                                                                <a href="{{ asset('images/' ~ product.image) }}" target="_blank" class="text-green-600 hover:text-green-700">
                                                                                    Voir l'image
                                                                                </a>
                                                                            {% endif %}
                                                                            {% if not product.image %}
                                                                                <span>
                                                                                    Aucune image
                                                                                </span>
                                                                            {% endif %}
                                                                        </td>
                                                                        <td class="px-6 py-4 whitespace-nowrap space-x-2">
                                                                            <button type="submit" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-3 rounded" name="edit_product">
                                                                                Modifier
                                                                            </button>
                                                                            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded" name="delete_product">
                                                                                Supprimer
                                                                            </button>
                                                                        </td>
                                                                    </form>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    <h5 class="mt-4">
                                                        {{ category.title }}
                                                    </h5>
                                                    <div class="text-center fs-3">
                                                        Aucun produit trouvé pour cette catégorie
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <p class="text-center text-xl text-gray-600">
                                                Aucun produit trouvé
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                        